<!DOCTYPE html>
<html>
<head>
    <title>Smart Expense Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="container">

    <div class="header">
        <h1>💰 Smart Expense Tracker</h1>
        <div class="user-section">
            <span>👤 {{ username }}</span>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <!-- FLASH -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="wrapper">

        <!-- LEFT -->
        <div class="left">

            <form action="/add" method="POST">
                <input type="text" name="title" placeholder="Enter Expense" required>
                <input type="number" name="amount" placeholder="Amount" required>

                <select name="category">
                    <option value="Food">Food</option>
                    <option value="Travel">Travel</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Other">Other</option>
                </select>

                <button type="submit">+ Add Expense</button>
            </form>

            <h2>Expenses</h2>
            <h3>Total: ₹{{ total }}</h3>

            <ul>
                {% for exp in expenses %}
                <li>
                    {{ exp.title }} - ₹{{ exp.amount }} ({{ exp.category }})
                    <a href="/delete/{{ exp.id }}">❌</a>
                </li>
                {% endfor %}
            </ul>

        </div>

        <!-- RIGHT -->
        <div class="right">
            <h2>Analytics</h2>
            <canvas id="expenseChart"></canvas>
        </div>

    </div>

</div>

<!-- PASS DATA SAFELY -->
<div id="chart-data"
     data-food="{{ food_total }}"
     data-travel="{{ travel_total }}"
     data-shopping="{{ shopping_total }}"
     data-other="{{ other_total }}">
</div>

<!-- JS FILE -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>